*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.4em;
}

.borde{
  background-color: lightgray;
  border: 1px solid black;
}

  .grid-1 {
    display: grid;
    width: 100%;
    margin: 0 auto;
     
    grid-template-columns:  1fr;
    grid-template-rows: 150px 1fr 15%;
    grid-gap: 5px;
     
    grid-template-areas:    "header"
                            "main"
                            "footer";
  }
  
  /*Acá empiezo a definir las reglas para los diferentes tamaños de pantalla. Solo especifico lo que cambia, lo que se mantiene no hace falta volver a declararlo*/
@media screen and (min-width:768px){
    .grid-1{
        display: grid;
        width: 100%;
       /*max-width: 770px;*/
        margin: 0 auto;
        
        grid-template-columns: 7% 1fr 7%;
        grid-template-rows: 150px 1fr 15%;
        grid-gap: 5px;
        
        grid-template-areas: "header header sidebar"
                             "main  main  sidebar"
                             "footer footer footer";
    }

    .item-4 {
        grid-area: sidebar;
      }
}

@media screen and (min-width:1200px){
    .grid-1{
        display: grid;
        width: 100%;
       /*max-width: 770px;*/
        margin: 0 auto;
        
        grid-template-columns: 7% 1fr 7%;
        grid-template-rows: 150px 1fr 15%;
        grid-gap: 5px;
        
        grid-template-areas: "nav  header  sidebar"
                             "nav    main    sidebar"
                             "footer   footer   footer";
    }

    .item-4 {
        grid-area: sidebar;
      }
    .item-5 {
        grid-area: nav;
      }
}

  
  .item-1 {
     /*background: #b03532;*/
    grid-area: header;
  }

  .item-2 {
    /*background: #33a8a5;*/
    grid-area: main;
   /*max-width: 80%;*/
    padding: 1rem;
    margin: 1rem auto;
  }

  .item-3 {
    grid-area: footer;
  }
  
.item-1{
    /*max-width: 95%;*/
    padding: 1rem;
    /*max-height: 30%;*/
    margin: 0 auto;
}

  .GrillaMatri{
    /*background-color: aquamarine; */
    padding-top: 5px;
    display: grid;
    /*grid-template-columns: repeat(4 1fr);*/
    grid-template-columns: 20% auto auto 20%; 
    grid-template-rows: repeat(4 250px);
    grid-template-areas: "img1 img2 img2 img7"
                         "img1 img3 img3 img7"
                         "img1 img4 img4 img6"
                         "img1 img5 img5 img6";
    gap:10px;
  }

 #img0{
      grid-area: img0;
  }
#img1{
    grid-area: img1;
}
#img1 li a{
    color: black;
}
#img2{
    grid-area: img2;
    padding-left: 20px;
}

.img2_1:hover {-webkit-transform:scale(1.02);transform:scale(1.02);transition-duration: 0.9s;filter: grayscale(80%)}
.img2_1 {overflow:hidden;}

.img2_2:hover {-webkit-transform:scale(1.02);transform:scale(1.02);transition-duration: 0.9s;filter: grayscale(80%)}
.img2_2 {overflow:hidden;}
.img2_3:hover {-webkit-transform:scale(1.02);transform:scale(1.02);transition-duration: 0.9s;filter: grayscale(80%)}
.img2_3 {overflow:hidden;}


#img3{
    grid-area: img3;
    padding-left: 20px;
}

#img4{
    grid-area: img4;
    padding-left: 20px;
}
#img5{
    grid-area: img5;
    padding-left: 20px;
}
#img6{
    grid-area: img6;
}
#img7{
  grid-area: img7;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.Subtitulo{
  /*background-color: rgb(39, 37, 37);*/
  background-image: linear-gradient(to right, rgb(233, 227, 227),rgb(131, 125, 125));
  padding: 10px;
  max-width: 100%;
  padding-left: 10%; 
  margin-bottom: 15px;  
}
.Subtitulo h2{
  font-size: 25px;
}
.Subtitulo a{
  text-decoration: none;
}


.GrillaMatri ul{
    list-style: none;
}
.GrillaMatri a{
    text-decoration: none;
}
.GrillaMatri li{
    border: 1px solid lightgrey;
    padding: 9px;
    border-radius: 5px;
    /*background-color: aqua;*/
    text-align:left;
    font-size: 17px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.GrillaMatri ul li a{
    transition: all 0.3s ;
    border-radius: 3px;
}
.GrillaMatri ul li a:hover{
    background: rgb(226, 221, 221);
    padding: 4px;
}

.redes{
    border-bottom: solid 1px rgb(196, 190, 190);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
}
.redes_1:hover {filter: opacity(.6);}
.redes_2:hover {filter: opacity(.6);}
.redes_3:hover {filter: opacity(.6);}
.redes_4:hover {filter: opacity(.6);}
.redes_5:hover {filter: opacity(.6);}


.menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items:center;
}

.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
}

.menu a{
    display: block;
    padding: 0.52rem 1rem;
    color: rgb(77, 73, 73);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 10% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: all 0.1s linear;
}
.menu  a:hover, a:focus {
    background-size: 90% 2px;
}
.menu_logo{
  padding-left: 20px;
}
.auto a{
    background-image:none;
}
.auto:hover {filter: opacity(.6);}

.servicios{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.serv_1:hover {-webkit-transform:scale(1.1);transform:scale(1.1); transition-duration: 1.5s;}
.serv_1 {overflow:hidden;}

.serv_2:hover {-webkit-transform:scale(1.1);transform:scale(1.1); transition-duration: 1.5s;}
.serv_2 {overflow:hidden;}

.serv_3:hover {-webkit-transform:scale(1.1);transform:scale(1.1); transition-duration: 1.5s;}
.serv_3 {overflow:hidden;}

.serv_4:hover {-webkit-transform:scale(1.1);transform:scale(1.1); transition-duration: 1.5s;}
.serv_4 {overflow:hidden;}

.Matri_importante{
  margin-top: 40px;
  border-top: 1px solid lightgray;
  padding-top: 10px;
  
}
.Matri_importante p{
  font-size: 16px;
}

footer{
  max-width: 100%;
  background-color: rgb(82, 77, 77);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-around;
  align-items: center;
  color: white;
  height: 7rem;
}

footer ul{
  list-style: none;
}
footer ul li{
  display: inline-block;
}

footer a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.foot_1:hover {-webkit-transform:scale(1.3);transform:scale(1.3); transition-duration: 0.5s;filter: grayscale(80%);}
.foot_1 {overflow:hidden;}

.foot_2:hover {-webkit-transform:scale(1.3);transform:scale(1.3); transition-duration: 0.5s;filter: grayscale(80%);}
.foot_2 {overflow:hidden;}

.foot_3:hover {-webkit-transform:scale(1.3);transform:scale(1.3); transition-duration: 0.5s;filter: grayscale(80%);}
.foot_3 {overflow:hidden;}

.foot_4:hover {-webkit-transform:scale(1.3);transform:scale(1.3); transition-duration: 0.5s;filter: grayscale(80%);}
.foot_4 {overflow:hidden;}